html,
body {
  padding: 0;
  margin: 0;
  color: black;
  background: #fefefe;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

body > .container {
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-header {
  background: #ddd;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.main-container {
  min-height: 100vh;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  box-sizing: content-box;
}

.w-20 {
  width: 20%;
}

.loginlinks {
  font-size: 0.8rem;
}

.backlink {
  color: #0056b3;
  margin-bottom: 1rem;
}

.topic-list__link {
  color: #0056b3;
}

.thread__header {
  background: #ddd;
  padding: 0.5rem 1rem;
}

.thread__header p {
  margin: 0;
}

.thread__header .thread__title {
  margin-bottom: 0.5rem;
}

.thread__date {
  font-size: 0.8rem;
}

.thread-reply {
  padding: 0 0.5rem 1rem 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid #ddd;
}

.thread-reply__header {
  background: #ddd;
}

.thread-reply__header-title {
  margin-bottom: 0rem;
}

.thread-reply__date {
  margin: 0;
  font-size: 0.8rem;
}

.thread-reply__author-name {
  margin-bottom: 0rem;
}

.thread-reply__author-post-count {
  font-size: 0.85rem;
}

.thread-reply__content {
  padding: 0.5rem 0;
}
