<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Electronics Forum</title>
</head>

<body>
    <script defer src="/static/vendor/bootstrap.bundle.min.js"></script>

    <div class="main-container container d-flex flex-column">
        <header class="row">
            <div class="app-header col-xl">
                <div class="row">
                    <div class="col-auto flex-grow-1">Electronics Forum</div>
                    <div class="col-auto">login</div>
                </div>
            </div>
        </header>
        {{{body}}}

        <footer class="row mt-auto">
            <div class="col">
                footer
            </div>
        </footer>
    </div>

    {{#if debug}}
    <script src="/reload/reload.js"></script>
    {{/if}}


</body>

</html>